body {
  margin: auto 0;
  padding: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 2rem;
  margin: 2rem;
}

h1{
  text-align: center;
}
.MuiTextField-root ,.MuiButton-root {
  margin: 1rem !important;
}